# Obtener los datos del Parkinson

**APIS**

In [11]:
import pandas as pd
import requests

# URLs de la API
DATA_URL = "https://api.ourworldindata.org/v1/indicators/916408.data.json"
METADATA_URL = "https://api.ourworldindata.org/v1/indicators/916408.metadata.json"

**CARGA DE DATOS**

In [22]:
def cargar_datos():
   
    datos = requests.get(DATA_URL).json()  # Datos de casos de Parkinson
    metadata = requests.get(METADATA_URL).json()  # Información adicional (años y países)
    return datos, metadata

**PROCESAR DATOS**

In [13]:
def procesar_datos(datos, metadata):
    """Extrae la lista de valores, años disponibles y países desde los datos JSON."""
    
    # Extraer la lista de valores numéricos (casos de Parkinson)
    valores = datos["values"]
    
    # Extraer la lista de años disponibles
    años = []
    for item in metadata["dimensions"]["years"]["values"]:
        años.append(item["id"])
    
    # Extraer los países y sus nombres en un diccionario
    paises = {}
    for item in metadata["dimensions"]["entities"]["values"]:
        paises[item["id"]] = item["name"]
    
    return valores, años, paises

**CREAR EL DATAFRAME**

In [14]:
def crear_dataframe(valores, años, paises):
    
    num_años = len(años)
    num_valores = len(valores)

    if num_valores % num_años == 0:
        num_paises = num_valores // num_años
        

        # Tabla con datos
        datos_lista = []
        for i in range(num_valores):
            año = años[i % num_años]  # Seleccionar el año
            id_pais = list(paises.keys())[i // num_años]  # Seleccionar el país 
            nombre_pais = paises[id_pais]  #  nombre del país

            # Crear un diccionario con los datos y añadir a la lista
            fila = {"Año": año, "País": nombre_pais, "Parkisnon": valores[i]}
            datos_lista.append(fila)

        # Convertir la lista de datos en un DataFrame
        df = pd.DataFrame(datos_lista)

    else:
       
        # Crear un DataFrame con los datos disponibles
        df = pd.DataFrame({"Año": años[:num_valores], "Casos": valores[:num_valores]})
        df["País"] = "Mundo"

    return df

In [15]:
datos, metadata = cargar_datos()  
valores, años, paises = procesar_datos(datos, metadata) 
df_parkinson = crear_dataframe(valores, años, paises) 

# Mostrar los resultados en un display
display(df_parkinson)

       Año           País   Parkisnon
0     1990       Cambodia   21.533830
1     1991       Cambodia   21.483840
2     1992       Cambodia   21.502138
3     1993       Cambodia   21.607151
4     1994       Cambodia   21.767658
...    ...            ...         ...
7291  2017  South America  101.905710
7292  2018  South America  105.467110
7293  2019  South America  108.644905
7294  2020  South America  110.542580
7295  2021  South America  115.628784

[7296 rows x 3 columns]

# Obtener los datos de la variable de calidad de aire (PM2.5)

**API + CARGA DE DATOS**

In [16]:
import pandas as pd
import requests


def cargar_datos():
    API_URL = "https://ghoapi.azureedge.net/api/SDGPM25"
    response = requests.get(API_URL)
    data = response.json()["value"]  

    #  Convertir a DataFrame y devolverlo
    return pd.DataFrame(data)

In [17]:
# Cargar y mostrar los datos
df = cargar_datos()

display(df)

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,ParentLocationCode,ParentLocation,Dim1Type,Dim1,TimeDim,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,3320588,SDGPM25,COUNTRY,CZE,YEAR,EUR,Europe,RESIDENCEAREATYPE,RESIDENCEAREATYPE_TOTL,2019,...,None,14.34 [13.96-14.79],14.34125,13.95964,14.79007,None,2022-08-12T08:59:19+02:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00
1,593,SDGPM25,COUNTRY,AFG,YEAR,EMR,Eastern Mediterranean,RESIDENCEAREATYPE,RESIDENCEAREATYPE_RUR,2010,...,None,61.81 [42.68-87.77],61.81464,42.68402,87.77431,None,2022-08-12T08:58:50+02:00,2010,2010-01-01T00:00:00+01:00,2010-12-31T00:00:00+01:00
2,733,SDGPM25,COUNTRY,HRV,YEAR,EUR,Europe,RESIDENCEAREATYPE,RESIDENCEAREATYPE_URB,2019,...,None,15.49 [14.46-16.71],15.48858,14.46470,16.70997,None,2022-08-12T08:59:37+02:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00
3,6903,SDGPM25,COUNTRY,AUT,YEAR,EUR,Europe,RESIDENCEAREATYPE,RESIDENCEAREATYPE_RUR,2014,...,None,11.64 [11.26-12.11],11.64200,11.25937,12.10913,None,2022-08-12T08:58:55+02:00,2014,2014-01-01T00:00:00+01:00,2014-12-31T00:00:00+01:00
4,7158,SDGPM25,COUNTRY,VNM,YEAR,WPR,Western Pacific,RESIDENCEAREATYPE,RESIDENCEAREATYPE_TOWN,2014,...,None,20.16 [15.48-24.36],20.16026,15.47562,24.35717,None,2022-08-12T09:00:45+02:00,2014,2014-01-01T00:00:00+01:00,2014-12-31T00:00:00+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10745,9449607,SDGPM25,COUNTRY,VEN,YEAR,AMR,Americas,RESIDENCEAREATYPE,RESIDENCEAREATYPE_CITY,2018,...,None,17.66 [13.32-23.12],17.66130,13.32080,23.12323,None,2022-08-12T09:00:45+02:00,2018,2018-01-01T00:00:00+01:00,2018-12-31T00:00:00+01:00
10746,9449772,SDGPM25,COUNTRY,FJI,YEAR,WPR,Western Pacific,RESIDENCEAREATYPE,RESIDENCEAREATYPE_TOWN,2015,...,None,8.05 [4.89-12.98],8.05264,4.89496,12.98365,None,2022-08-12T08:59:27+02:00,2015,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00
10747,9449840,SDGPM25,COUNTRY,AGO,YEAR,AFR,Africa,RESIDENCEAREATYPE,RESIDENCEAREATYPE_TOWN,2010,...,None,24.33 [5.75-71.32],24.33109,5.75004,71.32002,None,2022-08-12T08:58:50+02:00,2010,2010-01-01T00:00:00+01:00,2010-12-31T00:00:00+01:00
10748,9450140,SDGPM25,COUNTRY,KWT,YEAR,EMR,Eastern Mediterranean,RESIDENCEAREATYPE,RESIDENCEAREATYPE_URB,2013,...,None,68.79 [59.52-79.71],68.78559,59.51826,79.70523,None,2022-08-12T08:59:49+02:00,2013,2013-01-01T00:00:00+01:00,2013-12-31T00:00:00+01:00
10749,9450475,SDGPM25,COUNTRY,AUT,YEAR,EUR,Europe,RESIDENCEAREATYPE,RESIDENCEAREATYPE_RUR,2016,...,None,11.03 [10.66-11.43],11.02630,10.66271,11.43365,None,2022-08-12T08:58:56+02:00,2016,2016-01-01T00:00:00+01:00,2016-12-31T00:00:00+01:00

# Obtener los datos de la variable de calidad de agua (nitratos)

**PROCESAR DATOS**

In [23]:
def procesar_datos(data_response, metadata_response):
    
    # Lista de valores de concentración de nitratos
    valores = data_response["values"]
    
    # Lista de años disponibles
    años = []
    for item in metadata_response["dimensions"]["years"]["values"]:
        años.append(item["id"])
    
    # Diccionario de países con su código y nombre
    paises = {}
    for item in metadata_response["dimensions"]["entities"]["values"]:
        paises[item["id"]] = item["name"]
    
    return valores, años, paises

**CREAR DATAFRAME**

In [24]:
def crear_dataframe(valores, años, paises):
    
    datos_lista = []
    indice_valor = 0  

    for id_pais, nombre_pais in paises.items():  # Iterar sobre los países
        for año in años:  # Iterar sobre los años disponibles
            
            if indice_valor < len(valores):
                # Añadir el valor si hay datos disponibles
                fila = {
                    "Año": año,
                    "País": nombre_pais,                    
                    "Nitratos": valores[indice_valor]
                }
                indice_valor += 1  
            
            else:
                # Si no hay más valores, completar con None 
                fila = {
                    "Año": año,
                    "País": nombre_pais,                    
                    "Nitratos": None
                }
            
            datos_lista.append(fila)  # Añadir la fila a la lista de datos
    
    # Convertir la lista en un DataFrame 
    df = pd.DataFrame(datos_lista)
    
    return df

In [26]:
import pandas as pd
import requests
DATA_URL = "https://api.ourworldindata.org/v1/indicators/820661.data.json"
METADATA_URL = "https://api.ourworldindata.org/v1/indicators/820661.metadata.json"
datos, metadata = cargar_datos()  
valores, años, paises = procesar_datos(datos, metadata) 
df_nitratos = crear_dataframe(valores, años, paises) 

# Mostrar los resultados en un display
display(df_nitratos)

       Año     País   Nitratos
0     1992  Austria  27.586168
1     1993  Austria  26.506536
2     1994  Austria  26.761826
3     1995  Austria  29.362993
4     1996  Austria  30.037287
...    ...      ...        ...
1105  2017   Turkey        NaN
1106  2018   Turkey        NaN
1107  2019   Turkey        NaN
1108  2020   Turkey        NaN
1109  2021   Turkey        NaN

[1110 rows x 3 columns]

# Obtener los datos de la variable de exposición al plomo

**PRCESAR DATOS**

In [27]:
def procesar_metadata(metadata_response, data_response):
    # Crear un diccionario vacío 
    entities_map = {}
    
    # Iterar sobre las entidades en metadata 
    for e in metadata_response["dimensions"]["entities"]["values"]:
        entity_id = e["id"]
        entity_name = e["name"]
        entities_map[entity_id] = entity_name

    # Verificar que las listas de 'values', 'years' y 'entities' tengan la misma longitud
    if not (len(data_response["values"]) == len(data_response["years"]) == len(data_response["entities"])):
        print("Las listas 'values', 'years' y 'entities' tienen diferentes longitudes.")
    
    return entities_map

**CREAR DATAFRAME**

In [28]:
def crear_dataframe(data_response, entities_map):
    # Crear una lista vacía para almacenar las filas de datos
    data_list = []
    
    # Iterar sobre los valores de 'values', 'years' y 'entities' para construir el DataFrame
    for i in range(len(data_response["values"])):
        value = data_response["values"][i]
        year_id = data_response["years"][i]
        entity_id = data_response["entities"][i]
        
        # Obtener el nombre de la entidad
        entity_name = entities_map.get(entity_id, "Unknown")
        
        # Añadir los datos a la lista
        data_list.append({"Año": year_id,"País": entity_name, "Exp_Plomo": value})

    # Convertir la lista a un DataFrame
    df = pd.DataFrame(data_list)
    
    return df

In [29]:
import pandas as pd
import requests
DATA_URL = "https://api.ourworldindata.org/v1/indicators/941463.data.json"
METADATA_URL = "https://api.ourworldindata.org/v1/indicators/941463.metadata.json"
data_response, metadata_response = cargar_datos()  
entities_map = procesar_metadata(metadata_response, data_response)  
df_plomo = crear_dataframe(data_response, entities_map)  

# Mostrar las filas del DataFrame
display(df_plomo)

       Año         País   Exp_Plomo
0     1990  Afghanistan  2765.59400
1     1991  Afghanistan  2773.61840
2     1992  Afghanistan  2782.52610
3     1993  Afghanistan  2818.00600
4     1994  Afghanistan  2869.15920
...    ...          ...         ...
7099  2017     Zimbabwe   759.63760
7100  2018     Zimbabwe   755.67847
7101  2019     Zimbabwe   749.21820
7102  2020     Zimbabwe   739.96454
7103  2021     Zimbabwe   709.65390

[7104 rows x 3 columns]

# Obtener los datos de uso de pepticidas

**PROCESAR DATOS**

In [30]:
def procesar_datos(data_response, metadata_response):
    
    # Lista de valores de pesticidas
    valores = data_response["values"]
    
    # Lista de años disponibles
    años = []
    for item in metadata_response["dimensions"]["years"]["values"]:
        años.append(item["id"])
    
    # Diccionario de países con su código y nombre
    paises = {}
    for item in metadata_response["dimensions"]["entities"]["values"]:
        paises[item["id"]] = item["name"]
    
    return valores, años, paises

**CREAR DATAFRAME**

In [31]:
def crear_dataframe(valores, años, paises):
    """Crea un DataFrame a partir de los datos procesados."""
    
    datos_lista = []
    indice_valor = 0  

    for id_pais, nombre_pais in paises.items():  # Iterar sobre los países
        for año in años:  # Iterar sobre los años disponibles
            
            if indice_valor < len(valores):
                # Añadir el valor si hay datos disponibles
                fila = {
                    "Año": año,
                    "País": nombre_pais,
                    "Pesticidas": valores[indice_valor]
                }
                indice_valor += 1  
            
            else:
                # Si no hay más valores, completar con None 
                fila = {
                    "Año": año,
                    "País": nombre_pais,
                    "Pesticidas": None
                }
            
            datos_lista.append(fila)  # Añadir la fila a la lista de datos
    
    # Convertir la lista en un DataFrame
    df = pd.DataFrame(datos_lista)
    
    return df

In [32]:
import pandas as pd
import requests
DATA_URL = "https://api.ourworldindata.org/v1/indicators/832404.data.json"
METADATA_URL = "https://api.ourworldindata.org/v1/indicators/832404.metadata.json"
datos, metadata = cargar_datos()  
valores, años, paises = procesar_datos(datos, metadata) 
df_pepticidas = crear_dataframe(valores, años, paises) 


# Mostrar las filas del DataFrame
display(df_pepticidas)

       Año          País  Pesticidas
0     1990  Africa (FAO)    73958.66
1     1991  Africa (FAO)    69956.26
2     1992  Africa (FAO)    60260.71
3     1993  Africa (FAO)    54301.62
4     1994  Africa (FAO)    58819.04
...    ...           ...         ...
8027  2017      Zimbabwe         NaN
8028  2018      Zimbabwe         NaN
8029  2019      Zimbabwe         NaN
8030  2020      Zimbabwe         NaN
8031  2021      Zimbabwe         NaN

[8032 rows x 3 columns]

# UNION DE DATOS

## Teniendo en cuenta todos los datos de todos los DF

In [33]:
df_merged_outer = df_parkinson.merge(df_nitratos, on=['Año', 'País'], how='outer')\
                        .merge(df_plomo, on=['Año', 'País'], how='outer')

In [34]:
display(df_merged_outer)

       Año           País  Parkisnon   Nitratos  Exp_Plomo
0     1990       Cambodia  21.533830        NaN  799.84644
1     1991       Cambodia  21.483840        NaN  798.64690
2     1992       Cambodia  21.502138        NaN  799.89874
3     1993       Cambodia  21.607151        NaN  804.59204
4     1994       Cambodia  21.767658        NaN  812.10320
...    ...            ...        ...        ...        ...
7381  2017  Liechtenstein        NaN  15.146489        NaN
7382  2018  Liechtenstein        NaN  15.881583        NaN
7383  2019  Liechtenstein        NaN  15.655723        NaN
7384  2020  Liechtenstein        NaN  20.443571        NaN
7385  2021  Liechtenstein        NaN  20.443571        NaN

[7386 rows x 5 columns]

## Teniendo en cuenta todos los datos de todos los DF (+ pepticidas)

In [36]:
df_merged_outer = df_parkinson.merge(df_nitratos, on=['Año', 'País'], how='outer')\
                        .merge(df_plomo, on=['Año', 'País'], how='outer')\
                        .merge(df_pepticidas, on=['Año', 'País'], how='outer')

In [37]:
display(df_merged_outer)

       Año        País  Parkisnon  Nitratos  Exp_Plomo  Pesticidas
0     1990    Cambodia  21.533830       NaN  799.84644      258.02
1     1991    Cambodia  21.483840       NaN  798.64690      653.00
2     1992    Cambodia  21.502138       NaN  799.89874      545.00
3     1993    Cambodia  21.607151       NaN  804.59204      687.00
4     1994    Cambodia  21.767658       NaN  812.10320     2196.54
...    ...         ...        ...       ...        ...         ...
9269  2017  Yugoslavia        NaN       NaN        NaN         NaN
9270  2018  Yugoslavia        NaN       NaN        NaN         NaN
9271  2019  Yugoslavia        NaN       NaN        NaN         NaN
9272  2020  Yugoslavia        NaN       NaN        NaN         NaN
9273  2021  Yugoslavia        NaN       NaN        NaN         NaN

[9274 rows x 6 columns]

## Teniendo en cuenta los datos comunes de todos los DF

In [ ]:
df_merged_inner = df_parkinson.merge(df_nitratos, on=['Año', 'País'], how='inner')\
                              .merge(df_plomo, on=['Año', 'País'], how='inner')

In [ ]:
display(df_merged_inner)