# Obtener los datos del Parkinson

**APIS**

In [1]:
import pandas as pd
import requests

# URLs de la API
DATA_URL = "https://api.ourworldindata.org/v1/indicators/916408.data.json"
METADATA_URL = "https://api.ourworldindata.org/v1/indicators/916408.metadata.json"

**CARGA DE DATOS**

In [6]:
def cargar_datos():
   
    datos = requests.get(DATA_URL).json()  # Datos de casos de Parkinson
    metadata = requests.get(METADATA_URL).json()  # Información adicional (años y países)
    return datos, metadata

**PROCESAR DATOS**

In [3]:
def procesar_datos(datos, metadata):
    """Extrae la lista de valores, años disponibles y países desde los datos JSON."""
    
    # Extraer la lista de valores numéricos (casos de Parkinson)
    valores = datos["values"]
    
    # Extraer la lista de años disponibles
    años = []
    for item in metadata["dimensions"]["years"]["values"]:
        años.append(item["id"])
    
    # Extraer los países y sus nombres en un diccionario
    paises = {}
    for item in metadata["dimensions"]["entities"]["values"]:
        paises[item["id"]] = item["name"]
    
    return valores, años, paises

**CREAR EL DATAFRAME**

In [4]:
def crear_dataframe(valores, años, paises):
    
    num_años = len(años)
    num_valores = len(valores)

    if num_valores % num_años == 0:
        num_paises = num_valores // num_años
        

        # Tabla con datos
        datos_lista = []
        for i in range(num_valores):
            año = años[i % num_años]  # Seleccionar el año
            id_pais = list(paises.keys())[i // num_años]  # Seleccionar el país 
            nombre_pais = paises[id_pais]  #  nombre del país

            # Crear un diccionario con los datos y añadir a la lista
            fila = {"Año": año, "País": nombre_pais, "Parkisnon": valores[i]}
            datos_lista.append(fila)

        # Convertir la lista de datos en un DataFrame
        df = pd.DataFrame(datos_lista)

    else:
       
        # Crear un DataFrame con los datos disponibles
        df = pd.DataFrame({"Año": años[:num_valores], "Casos": valores[:num_valores]})
        df["País"] = "Mundo"

    return df

In [5]:
datos, metadata = cargar_datos()  
valores, años, paises = procesar_datos(datos, metadata) 
df_parkinson = crear_dataframe(valores, años, paises) 

# Mostrar los resultados en un display
display(df_parkinson)

       Año           País   Parkisnon
0     1990       Cambodia   21.533830
1     1991       Cambodia   21.483840
2     1992       Cambodia   21.502138
3     1993       Cambodia   21.607151
4     1994       Cambodia   21.767658
...    ...            ...         ...
7291  2017  South America  101.905710
7292  2018  South America  105.467110
7293  2019  South America  108.644905
7294  2020  South America  110.542580
7295  2021  South America  115.628784

[7296 rows x 3 columns]

# Obtener los datos de la variable de calidad de aire (PM2.5)

**API + CARGA DE DATOS**

In [1]:
import pandas as pd
import requests


def cargar_datos():
    
    # URL de la API
    API_URL = "https://ghoapi.azureedge.net/api/SDGPM25"
    
    # Realizar la solicitud HTTP a la API
    response = requests.get(API_URL)
    
    # Verificar si la respuesta es exitosa
    if response.status_code == 200:
        # Extraer los datos de la respuesta JSON
        data = response.json()["value"]
        return data
    
    # Si la solicitud no es exitosa, retornar None
    return None

**CREAR EL DATAFRAME**

In [2]:
def crear_dataframe():
    
    # Cargar los datos desde la API
    data = cargar_datos()
    
    # Si los datos son válidos, convertir a DataFrame
    if data:
        return pd.DataFrame(data)
    
    # Si no se obtienen datos válidos, retornar un DataFrame vacío
    return pd.DataFrame()

In [3]:
# 3. Mostrar el DataFrame
df = crear_dataframe()

# Mostrar las primeras filas del DataFrame
df.head()  # Esta línea muestra las primeras filas en el notebook

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,593,SDGPM25,COUNTRY,AFG,EMR,YEAR,Eastern Mediterranean,RESIDENCEAREATYPE,RESIDENCEAREATYPE_RUR,2010,...,None,61.81 [42.68-87.77],61.81464,42.68402,87.77431,None,2022-08-12T08:58:50+02:00,2010,2010-01-01T00:00:00+01:00,2010-12-31T00:00:00+01:00
1,733,SDGPM25,COUNTRY,HRV,EUR,YEAR,Europe,RESIDENCEAREATYPE,RESIDENCEAREATYPE_URB,2019,...,None,15.49 [14.46-16.71],15.48858,14.46470,16.70997,None,2022-08-12T08:59:37+02:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00
2,4789,SDGPM25,COUNTRY,SEN,AFR,YEAR,Africa,RESIDENCEAREATYPE,RESIDENCEAREATYPE_URB,2012,...,None,42.88 [25.91-59.55],42.87830,25.91333,59.54569,None,2022-08-12T09:00:24+02:00,2012,2012-01-01T00:00:00+01:00,2012-12-31T00:00:00+01:00
3,5552,SDGPM25,COUNTRY,COG,AFR,YEAR,Africa,RESIDENCEAREATYPE,RESIDENCEAREATYPE_TOTL,2019,...,None,29.48 [6.42-102.37],29.48397,6.41540,102.37134,None,2022-08-12T08:59:14+02:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00
4,12453,SDGPM25,COUNTRY,SOM,EMR,YEAR,Eastern Mediterranean,RESIDENCEAREATYPE,RESIDENCEAREATYPE_RUR,2016,...,None,14.38 [7.61-24.55],14.38355,7.60604,24.55173,None,2022-08-12T09:00:28+02:00,2016,2016-01-01T00:00:00+01:00,2016-12-31T00:00:00+01:00

# Obtener los datos de la variable de calidad de agua (nitratos)

**PROCESAR DATOS**

In [7]:
def procesar_datos(data_response, metadata_response):
    
    # Lista de valores de concentración de nitratos
    valores = data_response["values"]
    
    # Lista de años disponibles
    años = []
    for item in metadata_response["dimensions"]["years"]["values"]:
        años.append(item["id"])
    
    # Diccionario de países con su código y nombre
    paises = {}
    for item in metadata_response["dimensions"]["entities"]["values"]:
        paises[item["id"]] = item["name"]
    
    return valores, años, paises

**CREAR DATAFRAME**

In [8]:
def crear_dataframe(valores, años, paises):
    
    datos_lista = []
    indice_valor = 0  

    for id_pais, nombre_pais in paises.items():  # Iterar sobre los países
        for año in años:  # Iterar sobre los años disponibles
            
            if indice_valor < len(valores):
                # Añadir el valor si hay datos disponibles
                fila = {
                    "Año": año,
                    "País": nombre_pais,                    
                    "Nitratos": valores[indice_valor]
                }
                indice_valor += 1  
            
            else:
                # Si no hay más valores, completar con None 
                fila = {
                    "Año": año,
                    "País": nombre_pais,                    
                    "Nitratos": None
                }
            
            datos_lista.append(fila)  # Añadir la fila a la lista de datos
    
    # Convertir la lista en un DataFrame 
    df = pd.DataFrame(datos_lista)
    
    return df

In [9]:
import pandas as pd
import requests
DATA_URL = "https://api.ourworldindata.org/v1/indicators/820661.data.json"
METADATA_URL = "https://api.ourworldindata.org/v1/indicators/820661.metadata.json"
data_response, metadata_response = cargar_datos()  
valores, años, paises = procesar_datos(data_response, metadata_response)  
df_nitratos = crear_dataframe(valores, años, paises) 

# Mostrar las primeras filas del DataFrame
display(df_nitratos)

       Año     País   Nitratos
0     1992  Austria  27.586168
1     1993  Austria  26.506536
2     1994  Austria  26.761826
3     1995  Austria  29.362993
4     1996  Austria  30.037287
...    ...      ...        ...
1105  2017   Turkey        NaN
1106  2018   Turkey        NaN
1107  2019   Turkey        NaN
1108  2020   Turkey        NaN
1109  2021   Turkey        NaN

[1110 rows x 3 columns]

# Obtener los datos de la variable de exposición al plomo

**PRCESAR DATOS**

In [6]:
def procesar_metadata(metadata_response, data_response):
    # Crear un diccionario vacío para el mapeo de entidades
    entities_map = {}
    
    # Iterar sobre las entidades en metadata para crear el mapeo
    for e in metadata_response["dimensions"]["entities"]["values"]:
        entity_id = e["id"]
        entity_name = e["name"]
        entities_map[entity_id] = entity_name

    # Verificar que las listas de 'values', 'years' y 'entities' tengan la misma longitud
    if not (len(data_response["values"]) == len(data_response["years"]) == len(data_response["entities"])):
        print("Las listas 'values', 'years' y 'entities' tienen diferentes longitudes.")
    
    return entities_map

**CREAR DATAFRAME**

In [7]:
def crear_dataframe(data_response, entities_map):
    # Crear una lista vacía para almacenar las filas de datos
    data_list = []
    
    # Iterar sobre los valores de 'values', 'years' y 'entities' para construir el DataFrame
    for i in range(len(data_response["values"])):
        value = data_response["values"][i]
        year_id = data_response["years"][i]
        entity_id = data_response["entities"][i]
        
        # Obtener el nombre de la entidad
        entity_name = entities_map.get(entity_id, "Unknown")
        
        # Añadir los datos a la lista
        data_list.append({"Entity": entity_name, "Year": year_id, "Value": value})

    # Convertir la lista a un DataFrame de pandas
    df = pd.DataFrame(data_list)
    
    return df

In [8]:
import pandas as pd
import requests
DATA_URL = "https://api.ourworldindata.org/v1/indicators/941463.data.json"
METADATA_URL = "https://api.ourworldindata.org/v1/indicators/941463.metadata.json"
data_response, metadata_response = cargar_datos()  # Cargar datos desde la API
entities_map = procesar_metadata(metadata_response, data_response)  # Procesar la metadata
df = crear_dataframe(data_response, entities_map)  # Crear el DataFrame con los datos

# Mostrar las primeras filas del DataFrame
print(df.head())

        Entity  Year      Value
0  Afghanistan  1990  2765.5940
1  Afghanistan  1991  2773.6184
2  Afghanistan  1992  2782.5261
3  Afghanistan  1993  2818.0060
4  Afghanistan  1994  2869.1592