# Obtener los datos del Parkinson

**APIS**

In [7]:
import pandas as pd
import requests

# URLs de la API
DATA_URL = "https://api.ourworldindata.org/v1/indicators/916408.data.json"
METADATA_URL = "https://api.ourworldindata.org/v1/indicators/916408.metadata.json"

**CARGA DE DATOS**

In [4]:
def cargar_datos():
   
    datos = requests.get(DATA_URL).json()  # Datos de casos de Parkinson
    metadata = requests.get(METADATA_URL).json()  # Información adicional (años y países)
    return datos, metadata

**PROCESAR DATOS**

In [9]:
def procesar_datos(datos, metadata):
    """Extrae la lista de valores, años disponibles y países desde los datos JSON."""
    
    # Extraer la lista de valores numéricos (casos de Parkinson)
    valores = datos["values"]
    
    # Extraer la lista de años disponibles
    años = []
    for item in metadata["dimensions"]["years"]["values"]:
        años.append(item["id"])
    
    # Extraer los países y sus nombres en un diccionario
    paises = {}
    for item in metadata["dimensions"]["entities"]["values"]:
        paises[item["id"]] = item["name"]
    
    return valores, años, paises

**CREAR EL DATAFRAME**

In [10]:
def crear_dataframe(valores, años, paises):
    
    num_años = len(años)
    num_valores = len(valores)

    if num_valores % num_años == 0:
        num_paises = num_valores // num_años
        print(f"Se encontraron datos de {num_paises} países.")

        # Construcción de la tabla con los datos
        datos_lista = []
        for i in range(num_valores):
            año = años[i % num_años]  # Seleccionar el año correspondiente
            id_pais = list(paises.keys())[i // num_años]  # Seleccionar el país correspondiente
            nombre_pais = paises[id_pais]  # Obtener el nombre del país

            # Crear un diccionario con los datos y agregarlo a la lista
            fila = {"Año": año, "Casos": valores[i], "País": nombre_pais}
            datos_lista.append(fila)

        # Convertir la lista de datos en un DataFrame
        df = pd.DataFrame(datos_lista)

    else:
       
        # Crear un DataFrame con solo los datos disponibles
        df = pd.DataFrame({"Año": años[:num_valores], "Casos": valores[:num_valores]})
        df["País"] = "Mundo"

    return df

In [11]:
datos, metadata = cargar_datos()  # Cargar datos desde la API
valores, años, paises = procesar_datos(datos, metadata)  # Extraer información
df = crear_dataframe(valores, años, paises)  # Crear DataFrame

# Mostrar los primeros resultados
print(df.head())

Se encontraron datos de 228 países.
    Año      Casos      País
0  1990  21.533830  Cambodia
1  1991  21.483840  Cambodia
2  1992  21.502138  Cambodia
3  1993  21.607151  Cambodia
4  1994  21.767658  Cambodia

# Obtener los datos de la variable de calidad de aire (PM2.5)

**API + CARGA DE DATOS**

In [1]:
import pandas as pd
import requests


def cargar_datos():
    
    # URL de la API
    API_URL = "https://ghoapi.azureedge.net/api/SDGPM25"
    
    # Realizar la solicitud HTTP a la API
    response = requests.get(API_URL)
    
    # Verificar si la respuesta es exitosa
    if response.status_code == 200:
        # Extraer los datos de la respuesta JSON
        data = response.json()["value"]
        return data
    
    # Si la solicitud no es exitosa, retornar None
    return None

**CREAR EL DATAFRAME**

In [2]:
def crear_dataframe():
    
    # Cargar los datos desde la API
    data = cargar_datos()
    
    # Si los datos son válidos, convertir a DataFrame
    if data:
        return pd.DataFrame(data)
    
    # Si no se obtienen datos válidos, retornar un DataFrame vacío
    return pd.DataFrame()

In [3]:
# 3. Mostrar el DataFrame
df = crear_dataframe()

# Mostrar las primeras filas del DataFrame
df.head()  # Esta línea muestra las primeras filas en el notebook

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,593,SDGPM25,COUNTRY,AFG,EMR,YEAR,Eastern Mediterranean,RESIDENCEAREATYPE,RESIDENCEAREATYPE_RUR,2010,...,None,61.81 [42.68-87.77],61.81464,42.68402,87.77431,None,2022-08-12T08:58:50+02:00,2010,2010-01-01T00:00:00+01:00,2010-12-31T00:00:00+01:00
1,733,SDGPM25,COUNTRY,HRV,EUR,YEAR,Europe,RESIDENCEAREATYPE,RESIDENCEAREATYPE_URB,2019,...,None,15.49 [14.46-16.71],15.48858,14.46470,16.70997,None,2022-08-12T08:59:37+02:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00
2,4789,SDGPM25,COUNTRY,SEN,AFR,YEAR,Africa,RESIDENCEAREATYPE,RESIDENCEAREATYPE_URB,2012,...,None,42.88 [25.91-59.55],42.87830,25.91333,59.54569,None,2022-08-12T09:00:24+02:00,2012,2012-01-01T00:00:00+01:00,2012-12-31T00:00:00+01:00
3,5552,SDGPM25,COUNTRY,COG,AFR,YEAR,Africa,RESIDENCEAREATYPE,RESIDENCEAREATYPE_TOTL,2019,...,None,29.48 [6.42-102.37],29.48397,6.41540,102.37134,None,2022-08-12T08:59:14+02:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00
4,12453,SDGPM25,COUNTRY,SOM,EMR,YEAR,Eastern Mediterranean,RESIDENCEAREATYPE,RESIDENCEAREATYPE_RUR,2016,...,None,14.38 [7.61-24.55],14.38355,7.60604,24.55173,None,2022-08-12T09:00:28+02:00,2016,2016-01-01T00:00:00+01:00,2016-12-31T00:00:00+01:00

# Obtener los datos de la variable de calidad de agua (nitratos)

**PROCESAR DATOS**

In [1]:
def procesar_datos(data_response, metadata_response):
    
    # Lista de valores de concentración de nitratos
    valores = data_response["values"]
    
    # Lista de años disponibles
    años = []
    for item in metadata_response["dimensions"]["years"]["values"]:
        años.append(item["id"])
    
    # Diccionario de países con su código y nombre
    paises = {}
    for item in metadata_response["dimensions"]["entities"]["values"]:
        paises[item["id"]] = item["name"]
    
    return valores, años, paises

**CREAR DATAFRAME**

In [2]:
def crear_dataframe(valores, años, paises):
    
    datos_lista = []
    indice_valor = 0  # Índice para recorrer la lista de valores

    for id_pais, nombre_pais in paises.items():  # Iterar sobre los países
        for año in años:  # Iterar sobre los años disponibles
            
            if indice_valor < len(valores):
                # Agregar el valor correspondiente si aún hay datos disponibles
                fila = {
                    "País": nombre_pais,
                    "Año": año,
                    "Concentración_Nitratos_mgL": valores[indice_valor]
                }
                indice_valor += 1  # Avanzar al siguiente valor
            
            else:
                # Si no hay más valores, completar con None (NaN en pandas)
                fila = {
                    "País": nombre_pais,
                    "Año": año,
                    "Concentración_Nitratos_mgL": None
                }
            
            datos_lista.append(fila)  # Agregar la fila a la lista de datos
    
    # Convertir la lista en un DataFrame de pandas
    df = pd.DataFrame(datos_lista)
    
    return df

In [7]:
import pandas as pd
import requests
DATA_URL = "https://api.ourworldindata.org/v1/indicators/820661.data.json"
METADATA_URL = "https://api.ourworldindata.org/v1/indicators/820661.metadata.json"
data_response, metadata_response = cargar_datos()  # Obtener datos desde la API
valores, años, paises = procesar_datos(data_response, metadata_response)  # Extraer información
df = crear_dataframe(valores, años, paises)  # Crear DataFrame estructurado

# Mostrar las primeras filas del DataFrame
print(df.head())

      País   Año  Concentración_Nitratos_mgL
0  Austria  1992                   27.586168
1  Austria  1993                   26.506536
2  Austria  1994                   26.761826
3  Austria  1995                   29.362993
4  Austria  1996                   30.037287